body {
  margin: 10px !important;
}

.card {
  background-color: #DDDDDD !important;
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  color: rgb(43, 84, 85);
}

.outputs {
  font-family: 'Source Code Pro', monospace;
  color: rgb(96, 134, 240);
}

.comments {
  font-family: 'Source Code Pro', monospace;
  color: rgb(21, 134, 72);
}

img {
  max-width: 100%;
}

.goUp {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1000;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
 filter: progid: dximagetransform.microsoft.basicimage(rotation=3);
  text-align: center;
  text-decoration: none;
}