.person {
  display: inline-block;
  margin: 10px;
  border: 1px solid #dddddd;
  box-shadow: 0 2px 2px #cccccc;
  width: 200px;
  height: 120px;
}

.name {
  padding: 5px;
}

.age {
  padding: 5px;
}